:root {
  /* Brand */
  --primary: #0ea5e9;
  --primary-hover: #0284c7;

  /* Light Theme */
  --background: #ffffff;
  --surface: #f8fafc;
  --card: #ffffff;
  --text: #0f172a;
  --text-light: #64748b;
  --border: #e2e8f0;
}

.dark {
  /* Dark Theme */
  --background: #020617;
  --surface: #0f172a;
  --card: #1e293b;
  --text: #f8fafc;
  --text-light: #94a3b8;
  --border: #334155;
}
