@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import "@fontsource/vazirmatn";
@import "./styles/theme.css";

html {
  scroll-behavior: smooth;
}
html,
body {
  overflow-x: hidden;
}
body {
  font-family: "Vazirmatn", sans-serif;
  direction: rtl;

  background: var(--background);
  color: var(--text);

  transition:
    background-color 0.35s ease,
    color 0.35s ease;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #e5e7eb;
}
::-webkit-scrollbar-thumb {
  background: #94a3b8;
  border-radius: 999px;
  border: 2px solid #e5e7eb;
}
::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}
.dark ::-webkit-scrollbar-track {
  background: #0f172a;
}
.dark ::-webkit-scrollbar-thumb {
  background: #334155;
  border: 2px solid #0f172a;
}
.dark ::-webkit-scrollbar-thumb:hover {
  background: #475569;
}
* {
  scrollbar-width: thin;
  scrollbar-color: #94a3b8 #e5e7eb;
}
.dark * {
  scrollbar-color: #334155 #0f172a;
}