@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import "@fontsource/vazirmatn";
@import "./styles/theme.css";

html {
  scroll-behavior: smooth;
}
html,
body {
  overflow-x: hidden;
}
body {
  font-family: "Vazirmatn", sans-serif;
  direction: rtl;

  background: var(--background);
  color: var(--text);

  transition:
    background-color 0.35s ease,
    color 0.35s ease;
}
